<div class="page-header">
  <h1>{{ topic.name }}</h1>
</div>

<p>
  {{ topic.description }}
</p>

<h2>
  <ng-pluralize count="topic.Messages.length" when="{
      '0': 'Ei viestejä', 
      'one': '1 viesti', 
      'other': '{} viestiä'
    }">
  </ng-pluralize>
 </h2>

<ul class="media-list">
  <li class="media" ng-repeat="message in topic.Messages">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{ message.id }}">{{ message.title }}</a>
      </h4>

      <p>
        {{ message.content }}
      </p>

      <p class="text-muted">
        {{ message.User.username }}, {{ message.createdAt | date: 'd.M.yyyy H:m' }}
      </p>
    </div>
  </li>
</ul>

<section ng-if="userLoggedIn">
  <h2>Lisää oma viestisi</h2>

  <form>
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" class="form-control" ng-model="newMessage.title">
    </div>

    <div class="form-group">
      <label>Viesti</label>
      <textarea class="form-control" ng-model="newMessage.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addMessage()">Lisää viesti</button>
  </form>
</section>
