<div class="page-header">
  <h1>{{ message.title }}</h1>
</div>

<p>
  {{ message.content }}
</p>

<h2>
  <ng-pluralize count="message.Replies.length" when="{
      '0': 'Ei vastauksia', 
      'one': '1 vastaus', 
      'other': '{} vastausta'
    }">
  </ng-pluralize>
</h3>

<ul class="media-list">
  <li class="media" ng-repeat="reply in message.Replies">
    <div class="media-body">
      <h4 class="media-heading">{{ reply.User.username }}</h4>

      <p>
        {{ reply.content }}
      </p>

      <p class="text-muted">
        {{ reply.createdAt | date: 'd.M.yyyy H:m' }}
      </p>
    </div>
  </li>
</ul>

<section ng-if="userLoggedIn">
  <h2>Lisää oma vastauksesi</h2>

  <form>
    <div class="form-group">
      <label>Vastaus</label>
      <textarea class="form-control" ng-model="newReply.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="addReply()">Lisää vastaus</button>
  </form>
</section>
