<div class="page-header">
  <h1>Viestin otsikko tähän</h1>
</div>

<p>
  Viestin sisältö tähän
</p>

<h2>1 vastaus</h3>

<ul class="media-list">
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">Käyttäjätunnus tähän</h4>

      <p>
        Vastauksen sisältö tähän
      </p>

      <p class="text-muted">
        1.1.2015 12:00
      </p>
    </div>
  </li>
</ul>

<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control"></textarea>
  </div>
  <button class="btn btn-success">Lisää vastaus</button>
</form>
